{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="form-location">
                <FormLocation></FormLocation>
            </div>
        </div>
    </div>
</div>
{% endblock %}
